<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlp.springbootmybatisdemo.business.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zlp.springbootmybatisdemo.business.entity.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="modify_description" property="modifyDescription" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="resources_ids" property="resourcesIds" jdbcType="VARCHAR" />
    <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, create_user, modify_description, modify_time, modify_user, status, 
    version, resources_ids, role_desc, role_name, resource_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_cms_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_cms_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zlp.springbootmybatisdemo.business.entity.Role" >
    insert into tb_cms_role (id, create_time, create_user, 
      modify_description, modify_time, modify_user, 
      status, version, resources_ids, 
      role_desc, role_name, resource_ids
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, 
      #{modifyDescription,jdbcType=VARCHAR}, #{modifyTime,jdbcType=BIGINT}, #{modifyUser,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{resourcesIds,jdbcType=VARCHAR}, 
      #{roleDesc,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{resourceIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlp.springbootmybatisdemo.business.entity.Role" >
    insert into tb_cms_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyDescription != null" >
        modify_description,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="resourcesIds != null" >
        resources_ids,
      </if>
      <if test="roleDesc != null" >
        role_desc,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="resourceIds != null" >
        resource_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDescription != null" >
        #{modifyDescription,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="resourcesIds != null" >
        #{resourcesIds,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null" >
        #{resourceIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlp.springbootmybatisdemo.business.entity.Role" >
    update tb_cms_role
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDescription != null" >
        modify_description = #{modifyDescription,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="resourcesIds != null" >
        resources_ids = #{resourcesIds,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null" >
        resource_ids = #{resourceIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlp.springbootmybatisdemo.business.entity.Role" >
    update tb_cms_role
    set create_time = #{createTime,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_description = #{modifyDescription,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      resources_ids = #{resourcesIds,jdbcType=VARCHAR},
      role_desc = #{roleDesc,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      resource_ids = #{resourceIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>