<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlp.springbootmybatisdemo.business.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zlp.springbootmybatisdemo.business.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="modify_description" property="modifyDescription" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="registration_time" property="registrationTime" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="session_key" property="sessionKey" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, create_user, modify_description, modify_time, modify_user, status, 
    version, description, email, last_login_time, mobile, nick_name, password, registration_time, 
    role_name, session_key, user_id, user_name, website
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_cms_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_cms_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zlp.springbootmybatisdemo.business.entity.User" >
    insert into tb_cms_user (id, create_time, create_user, 
      modify_description, modify_time, modify_user, 
      status, version, description, 
      email, last_login_time, mobile, 
      nick_name, password, registration_time, 
      role_name, session_key, user_id, 
      user_name, website)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, 
      #{modifyDescription,jdbcType=VARCHAR}, #{modifyTime,jdbcType=BIGINT}, #{modifyUser,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{registrationTime,jdbcType=BIGINT}, 
      #{roleName,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zlp.springbootmybatisdemo.business.entity.User" >
    insert into tb_cms_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyDescription != null" >
        modify_description,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="registrationTime != null" >
        registration_time,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="sessionKey != null" >
        session_key,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="website != null" >
        website,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDescription != null" >
        #{modifyDescription,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        #{registrationTime,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlp.springbootmybatisdemo.business.entity.User" >
    update tb_cms_user
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDescription != null" >
        modify_description = #{modifyDescription,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        registration_time = #{registrationTime,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlp.springbootmybatisdemo.business.entity.User" >
    update tb_cms_user
    set create_time = #{createTime,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_description = #{modifyDescription,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>